#home {
  display: flex;
  width: 100%;
  height: 90vh;
  color:rgb(31, 29, 29);
  section {
    width: 100%;

    &:first-of-type {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        border-top: 1px solid $color6_2;
        height: 100%;
        padding-top: 6rem;

        > h1 {
          font: 900 4rem $text1;
          margin-bottom: 4rem;
        }

        .typewriterpara {
          letter-spacing: 6px;

          font-size: 1.5rem;
        }
      }
      .buttons {
        display: flex;
        margin: 5rem 0;
        width: 70%;
        gap: 4rem;
        align-items: center;
        a {
          > button {
            // border: 1px solid $color6;
            // padding: 1rem 2rem 1rem 2rem;
            // background-color: $color2_2 ;
            // color: $color6;
            // cursor: pointer;

            // &:hover{
            //     background-color: #fff;
            //     color: $color2_2 ;
            // }
            font: 700 1rem $text1;
            background-color: white;
            color: $color6;
            padding: 1rem 2.5rem;
            transition: all 0.5s;
            &:hover {
              background-color: $color6;
              color: white;
              cursor: pointer;
            }
          }
          &:last-of-type {
            font: 500 1.2rem $text1;
            color: $color6;
            display: flex;
            align-items: center;
            transition: all 0.3s;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    &:last-of-type {
      // background-color: #fff;
      border-top: 1px solid $color6_2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      overflow-x: hidden;

      img {
        height: 40vmax;
        width: 40vmax;
        object-fit: contain;
      }
    }
  }
  a {
     .chevIcon {
      position: absolute;
      font-size: 4rem;
      color: $color5;
      left: 50%;
      bottom: 2%;
      transform: translateX(-50%);
      animation: animateSvg 0.7s infinite linear alternate;
    }
    &:hover {
      color: $color2_1;
      cursor: pointer;
    }
  }
}
